<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.michael.afrivac">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditAccountInfoActivity">

        </activity>
        <activity android:name=".PaymentActivity"></activity>
        <activity android:name=".ContactUsActivity2" />
        <activity
            android:name=".LocationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".payment_page" />
        <activity android:name=".BookingActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ProfilePageActivity" />
        <activity android:name=".OnboardscreenActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity
            android:name=".SplashscreenActivity"
            android:theme="@style/AppTheme.splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>